@font-face {
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 400;
    src: local('Nosifer'), local('Nosifer-Regular'), url(http://themes.googleusercontent.com/static/fonts/nosifer/v2/7n0ZFTD4V11-kkhjuR2UIwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

[ng-cloak] {
    display: none !important;
}

html {
    background: url('http://d6x34xz4fm89f.cloudfront.net/back.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

body #title {
    width: 100%;
    background-color: rgba(255, 163, 31, 0.6);
    font-family: 'Nosifer', cursive;
    color: #660000;
    font-size: 5em;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
    line-height: 1em;
    height: 126px;
}

body #title span {
    display: block;
    width: 900px;
    margin: 0 auto;
}

body #match {
    height: 430px;
}

body #match .looser {
    opacity: 0;
}

body #match .vote {
    margin-top: 40px;
    height: 333px;
    text-align: center;
}

body #match .vote .image {
    width: 260px;
    margin: 0 auto;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

body #match .vote .image img {
    width: 250px;
    height: 333px;
    opacity: 1;
}

body #match .vote .image button {
    margin-top: -90px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

body #match .vote .image button:hover {
    background-color: #000000;
}

body #top {
    position: relative;
    overflow: hidden;
    height: 350px;
}

body #top div {
    text-align: center;
}

body #top .rank {
    width: 110px;
    height: 134px;
    position: absolute;
    -webkit-transition: visibility 1s, left 1s, top 1s, visibility 1s;
    -moz-transition: visibility 1s, left 1s, top 1s, visibility 1s;
    -o-transition: visibility 1s, left 1s, top 1s, visibility 1s;
    transition: visibility 1s, left 1s, top 1s, visibility 1s;
    left: 2000px;
    visibility: hidden;
}

body #top p.rank {
    left: 0;
    margin: -80px auto 0 auto;
    width: 110px;
    color: #ffffff;
    text-shadow: 1px 1px black;
    font-size: xx-large;
    text-align: center;
}

body #top p.votes,
body #top p.scoreelo {
    left: 0;
    margin: 0 auto;
    width: 110px;
    color: #ffffff;
    text-shadow: 1px 1px black;
    text-align: center;
}

body #top p.votes {
    margin-top: -50px;
}

body #top .rank1 {
    left: 155px;
}

body #top .rank2 {
    left: 295px;
}

body #top .rank3 {
    left: 435px;
}

body #top .rank4 {
    left: 575px;
}

body #top .rank5 {
    left: 715px;
}

body #top .rank1,
body #top .rank2,
body #top .rank3,
body #top .rank4,
body #top .rank5 {
    visibility: visible;
}

body #top .rank1 p,
body #top .rank2 p,
body #top .rank3 p,
body #top .rank4 p,
body #top .rank5 p {
    visibility: visible;
}

body #top img {
    width: 100px;
    height: 134px;
}

body footer {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-shadow: 1px 1px black;
}
